.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact .profile-picture {
  max-width: 200px;
  aspect-ratio: 1;
  object-fit: cover;
  clip-path: circle();
}

.profile-picture__container {
  display: flex;
  align-items: end;
  justify-content: end;
}

.status-icon {
  position: absolute;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  object-fit: contain;
  clip-path: circle();
}